@import 'products';
@import 'cart';
@import 'payment';

body {
  margin: 0;
  background-color: grey;
}

.gnb {
  width: 100%;
  padding: 10px;
  background-color: white;
}

ul {
  padding: 0;
  list-style: none;
}

h2 {
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
}

.gnb {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}