.products {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 7px;
  max-width: 1115px;
  margin: 0 auto;
  padding: 20px 0;
}

.product-item {
  padding: 10px;
  background-color: #fff;
  transition: box-shadow .3s;
  border-radius: 5px;

  .product-ite__add-cart {
    width: 25px;
    height: 25px;
    display: flex;
    float: right;
    transition: box-shadow .3s;
    border-radius: 4px;
  }
}

.product-item:hover {
box-shadow: 0 0 30px rgba(11,11,11,0.4); 
}
.product-ite__add-cart:hover {
  box-shadow: 0 0 30px rgba(11,11,11,0.4); 

}

.products-detail {
  max-width: 1115px;
  margin: 0 auto;
  padding: 20px 0;
}

